html,body{
    font-family: 'Montserrat';
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header{
  text-align:center;
  background-color: #F4EFEF;
}

.item-a {
    background-color: #16253D;
    border: 0px #16253D none;
    width: auto;
    height: 10vh;
    text-align: center;
    padding-top: 20px;
}

.item-a>ul>li {
    display: inline;
    list-style-type: none;
    margin: 20px;
    padding: 50px;
    color: white;
}

.item-b {
    background-image:url(../images/bg-breadcrumbs.png);
    background-size:cover;
    background-position:fixed;
    color:white;
    overflow:hidden;
    width: auto;
    height: 30vh;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

.item-head>p {
    display: inline;
    margin: 0px;
    padding: 10px;
}

.item-c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#wrap {
    text-align: justify;
}

.item-c-a>h2{
    margin-bottom: 0px;
}


.button2 {
  width: 150px;
  height: 50px;
  background-color:#B5A067;
  cursor: pointer;
  border: 3px solid #B5A067;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFAFA;
  margin-bottom: 20px;
  margin-top: 20px;
}


.box {
    border-radius: 10px;
    border-style: none;
    background-color: #F4EFEF;
    /* height: 4vh; */
    padding:10px
}

#mail {
    width: 30vw;
    height: 4vh;
}

.formname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.name-a {
    display:inline;
    padding-right: 35px;
}

textarea{
    border-radius: 10px;
    background-color:#F4EFEF;
    border-style: none;
}

button {
    display: block;
    border-radius: 10px;
    border-style: none;
    height: 5vh;
    width: 10vw;
    padding: 10px;
    text-align: center;
    background-color:#B5A067;
    margin-top: 10px;
    color: #fff;
}

.title {
    font-weight: bolder;
    margin-bottom: 3px;
}

.item-c-a {
    margin: 10px;
    padding: 20px;
}


.item-c-b {
    margin: 10px;
    padding: 20px;
}

.item-c-b  p{
    padding:10px 0px 10px 0px;
    margin:0;
}
.social-icons li{
    list-style-type: none;
    display: inline;
    padding:10px;
}
.social-icons{
    margin-left: -50px;
}
hr{
    border:solid black .5px;
}

section {
    margin: 0px;
}


#find{
    background-image: url(../images/wrapper-pic.png);
    background-size: cover;
    padding:20px;
    text-align: center;
    color: #fff;
}


/* media queries */

@media only screen and (max-width: 768px) {
    .item-c{
        flex-direction: column;
    }
    .item-c-b{
        border-left: none;
        margin-bottom: 10px;
    }
    .formname{
        flex-direction: column;
    }
}

