html,body{
    font-family: 'Montserrat';
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}

body.bgcolor{
    background-color: #F4EFEF;
}

header{
  text-align:center;
}


.item-b {
    background-image:url(../images/slider-1-1920x679.png);
    background-size:cover;
    background-position:fixed;
    color:white;
    overflow:hidden;
    width: auto;
    height: 30vh;
    text-align: center;
}


.item-head>p {
    display: inline;
    margin: 0px;
    padding: 10px;
}


.item-b h1{
    text-align: center;
    padding-top: 30px;
}


.button {
    background: #B5A067;
    border-radius: 34.3558px;
    display: flex;   
    align-items: center;
}


.button2 {
  width: 111px;
  height: 37px;
  background-color:#B5A067;
  cursor: pointer;
  border: 3px solid #B5A067;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  color: #FFFAFA;
  margin-bottom: 20px;
  margin-top: 20px;
}

.room{
    font-size: 64px;
}

.suite{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    /* or 150% */
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}


.suit {
    width: 400px;
    height: 570px;
    background-color: #FFFFFF;
    padding: 2px 16px;
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.15);
}

.card-text {
    margin: 70px 5px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px
}


.rows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}

.rows img {
    width: 500px;
    height: 575px;
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .rows {
    flex-direction: column;
    align-content: center;
    margin: 15px;
  }
  .row {
    flex-direction: column;

  }
  .row div {
      margin-bottom: 15px;
  }
  .rows img{
      height: 246px;
      width: 345px;
  }
  .suit {
    width: 313px;
    height: auto;
    background: #FFFFFF;
    padding: 2px 16px;
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.15);
}
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 345px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containers {
  padding: 2px 16px;
  background-color: #ffffff
}


.z-index h4{
  position: relative;
  left: 67px;
  font-family: Agency FB;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 104px;
  margin-top: 0;
  color: #C4C4C4;
}


@media screen and (max-width: 768px) {
  .z-index h4{
    font-size: 64px;
    left:5px;
  }
  p.z-index2 {
    font-size: 20px;
    left: 0px;
  }
}

.testimonials{
    margin: 70px 0px 50px 10px;
}


.gold {
  color: #ffd700;
}

